# Project: Trends in Estimated Home Values
You are asked by a company to help them make more informed decisions on real estate investments.

## Pre-requisites

- Queries
- Aggregate Functions

## Importing

In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\gurur\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: ipython-genutils in c:\users\gurur\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython in c:\users\gurur\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\gurur\anaconda3\lib\site-packages (from ipython-sql) (2.0.9)
Requirement already satisfied: prettytable in c:\users\gurur\anaconda3\lib\site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: sqlparse in c:\users\gurur\anaconda3\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in c:\users\gurur\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\gurur\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.3.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\gurur\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\gurur\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: decorator in c:\users\gurur\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pygments in c:\users\gurur\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\gurur\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: pickleshare in c:\users\gurur\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: matplotlib-inline in c:\users\gurur\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: traitlets>=4.2 in c:\users\gurur\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\gurur\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\gurur\anaconda3\lib\site-packages (from ipython->ipython-sql) (63.4.1)
Requirement already satisfied: backcall in c:\users\gurur\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\gurur\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\gurur\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///home_value_trends.db

## Exploration

In [65]:
%%sql
SELECT * 
FROM home_value_data 
LIMIT 5;

 * sqlite:///home_value_trends.db
Done.

[(60657, 'Chicago', 'IL', 'Chicago-Naperville-Elgin', 'Cook County', '1996-04', 334200),
 (60657, 'Chicago', 'IL', 'Chicago-Naperville-Elgin', 'Cook County', '1996-05', 335400),
 (60657, 'Chicago', 'IL', 'Chicago-Naperville-Elgin', 'Cook County', '1996-06', 336500),
 (60657, 'Chicago', 'IL', 'Chicago-Naperville-Elgin', 'Cook County', '1996-07', 337600),
 (60657, 'Chicago', 'IL', 'Chicago-Naperville-Elgin', 'Cook County', '1996-08', 338500)]

### How many distinct zip codes are in this dataset?

In [18]:
%%sql

SELECT COUNT(DISTINCT zip_code) AS 'Distinct Zip Code Counts'
FROM home_value_data;

 * sqlite:///home_value_trends.db
Done.

[(15452,)]

### How many zip codes are from each state?

In [86]:
%%sql

SELECT state, COUNT(zip_code) AS 'Zip Code Counts per State'
FROM home_value_data
GROUP BY state
ORDER BY 2 DESC;

 * sqlite:///home_value_trends.db
Done.

[('CA', 334560),
 ('NY', 294032),
 ('TX', 255680),
 ('PA', 238000),
 ('FL', 216240),
 ('OH', 171360),
 ('IL', 155312),
 ('MI', 148784),
 ('NJ', 136272),
 ('NC', 133008),
 ('TN', 118592),
 ('VA', 116416),
 ('WI', 115872),
 ('IN', 114240),
 ('MA', 113968),
 ('MN', 113152),
 ('GA', 102000),
 ('WA', 94656),
 ('MO', 88672),
 ('MD', 87584),
 ('CO', 70992),
 ('KS', 65824),
 ('AZ', 63376),
 ('OK', 62560),
 ('OR', 60928),
 ('IA', 60656),
 ('AL', 60112),
 ('SC', 58480),
 ('NH', 53856),
 ('LA', 53040),
 ('KY', 44336),
 ('MS', 39712),
 ('CT', 33184),
 ('UT', 32912),
 ('AR', 32368),
 ('ID', 30192),
 ('NV', 27472),
 ('ME', 25840),
 ('NE', 24208),
 ('WV', 22304),
 ('MT', 19584),
 ('VT', 16864),
 ('HI', 16864),
 ('RI', 16320),
 ('NM', 16320),
 ('DE', 10608),
 ('ND', 8976),
 ('WY', 8704),
 ('AK', 7616),
 ('SD', 5440),
 ('DC', 4896)]

### What range of years are represented in the data?

In [23]:
%%sql
SELECT DISTINCT substr(date, 1, 4) AS year
FROM home_value_data
ORDER BY year;

 * sqlite:///home_value_trends.db
Done.

[('1996',),
 ('1997',),
 ('1998',),
 ('1999',),
 ('2000',),
 ('2001',),
 ('2002',),
 ('2003',),
 ('2004',),
 ('2005',),
 ('2006',),
 ('2007',),
 ('2008',),
 ('2009',),
 ('2010',),
 ('2011',),
 ('2012',),
 ('2013',),
 ('2014',),
 ('2015',),
 ('2016',),
 ('2017',),
 ('2018',)]

### Using the most recent month of data available, what is the range of estimated home values across the nation?

In [24]:
%%sql
SELECT substr(date, 1, 4) AS year,MAX(substr(date,6,2)) AS 'recent_month'
FROM home_value_data
GROUP BY year

 * sqlite:///home_value_trends.db
Done.

[('1996', '12'),
 ('1997', '12'),
 ('1998', '12'),
 ('1999', '12'),
 ('2000', '12'),
 ('2001', '12'),
 ('2002', '12'),
 ('2003', '12'),
 ('2004', '12'),
 ('2005', '12'),
 ('2006', '12'),
 ('2007', '12'),
 ('2008', '12'),
 ('2009', '12'),
 ('2010', '12'),
 ('2011', '12'),
 ('2012', '12'),
 ('2013', '12'),
 ('2014', '12'),
 ('2015', '12'),
 ('2016', '12'),
 ('2017', '12'),
 ('2018', '11')]

In [31]:
%%sql
SELECT substr(date, 1, 4) AS year,(MAX(value) - MIN(value)) AS value_range
FROM home_value_data
WHERE substr(date,6,2) = CASE
                            WHEN year = '2018' THEN '11'
                            ELSE '12'
                        END
GROUP BY year
ORDER BY value_range DESC;

 * sqlite:///home_value_trends.db
Done.

[('2016', 19058500),
 ('2017', 18318400),
 ('2015', 18194500),
 ('2018', 17736200),
 ('2014', 15132100),
 ('2010', 13216900),
 ('2013', 12706300),
 ('2011', 12408300),
 ('2009', 11508700),
 ('2012', 11095100),
 ('2008', 10866900),
 ('2007', 10032900),
 ('2005', 9701000),
 ('2004', 8874400),
 ('2006', 8736300),
 ('1997', 4152100),
 ('2003', 3966800),
 ('1996', 3916500),
 ('1998', 3862800),
 ('2002', 3766900),
 ('2001', 3328000),
 ('1999', 3125500),
 ('2000', 2935900)]

## Analysis
Explore how home value differ by region as well as change over time

### Using the most recent month of data available, which states have the highest average home values? How about the lowest?

In [39]:
%%sql
SELECT state, AVG(value) AS 'avg_home_values'
FROM home_value_data
WHERE substr(date,6,2) = CASE WHEN substr(date, 1, 4) = '2018' THEN '11' ELSE '12' END
GROUP BY state
ORDER BY avg_home_values DESC;

 * sqlite:///home_value_trends.db
Done.

[('DC', 506826.0869565217),
 ('CA', 472262.01689735753),
 ('HI', 472145.7601222307),
 ('MA', 332104.01627373253),
 ('NJ', 327288.9255910987),
 ('CO', 276868.054858672),
 ('MD', 266526.52368671104),
 ('CT', 264293.12188168213),
 ('NY', 262211.35194709775),
 ('WA', 253159.4686476958),
 ('AK', 246676.08695652173),
 ('NV', 246541.57672454248),
 ('RI', 245293.5507246377),
 ('VA', 224456.1548090966),
 ('DE', 224441.29213483146),
 ('UT', 221415.14928123847),
 ('OR', 216983.06952514526),
 ('NH', 207053.70452528837),
 ('AZ', 204880.3281853282),
 ('FL', 204873.67807801143),
 ('ME', 192619.80487804877),
 ('MT', 191990.059347181),
 ('NM', 189440.01578531964),
 ('WY', 183955.97014925373),
 ('IL', 183363.06427385565),
 ('VT', 182979.35916542474),
 ('ID', 167221.48794679967),
 ('MN', 165990.57309426906),
 ('GA', 152926.02110490378),
 ('WI', 151097.12260216847),
 ('ND', 148025.2358490566),
 ('PA', 146983.15864819265),
 ('TX', 146053.35452647562),
 ('SC', 145221.0703043022),
 ('NC', 142770.2032222629),
 ('SD', 141912.27154046998),
 ('MO', 134067.29055258466),
 ('MI', 131693.68376068375),
 ('NE', 131400.9989484753),
 ('AL', 125872.90409121395),
 ('KS', 124862.1687279152),
 ('IA', 121128.20097244733),
 ('OH', 120714.98868365336),
 ('KY', 117932.67771846024),
 ('LA', 116594.71877475575),
 ('IN', 110112.96155928532),
 ('AR', 106471.92846034214),
 ('MS', 105777.34271887374),
 ('TN', 103874.38166096923),
 ('WV', 101874.10071942446),
 ('OK', 86417.12047012732)]

### Which states have the highest/lowest average home values for the year of 2017? What about for the year of 2007? 1997?

In [68]:
%%sql
SELECT substr(date,1,4) AS year, state, AVG(value) as avg_home_values
FROM home_value_data
WHERE year IN ('1997', '2007', '2017')
GROUP BY year,state
ORDER BY year,avg_home_values DESC;

 * sqlite:///home_value_trends.db
Done.

[('1997', 'HI', 216377.12418300653),
 ('1997', 'CA', 207479.5124336407),
 ('1997', 'DC', 189769.44444444444),
 ('1997', 'NJ', 175576.6),
 ('1997', 'MA', 168343.61445783134),
 ('1997', 'UT', 162484.05172413794),
 ('1997', 'CT', 159184.0163934426),
 ('1997', 'MT', 157241.5),
 ('1997', 'NV', 157095.78544061302),
 ('1997', 'CO', 154106.435006435),
 ('1997', 'WA', 147066.59356725146),
 ('1997', 'MD', 144904.1142557652),
 ('1997', 'NM', 139284.74842767295),
 ('1997', 'WY', 135059.56790123458),
 ('1997', 'AK', 134421.13095238095),
 ('1997', 'OR', 132921.5873015873),
 ('1997', 'DE', 126937.0),
 ('1997', 'RI', 126419.30555555556),
 ('1997', 'NY', 126348.62567524627),
 ('1997', 'IL', 123320.0061842919),
 ('1997', 'VA', 122760.53400083438),
 ('1997', 'AZ', 122682.64525993884),
 ('1997', 'TX', 113221.74276169264),
 ('1997', 'WI', 111299.3683781581),
 ('1997', 'NH', 109703.39347079038),
 ('1997', 'FL', 108010.50021561018),
 ('1997', 'ID', 102877.86458333333),
 ('1997', 'MI', 99656.75017397356),
 ('1997', 'VT', 99300.0),
 ('1997', 'GA', 98839.31962025317),
 ('1997', 'MO', 97086.51234567902),
 ('1997', 'ME', 96941.36904761905),
 ('1997', 'NE', 93304.27631578948),
 ('1997', 'OH', 92003.06631455399),
 ('1997', 'NC', 91369.81884057971),
 ('1997', 'MN', 91002.39965095987),
 ('1997', 'PA', 89577.67390430237),
 ('1997', 'AL', 89567.67955801105),
 ('1997', 'SC', 89122.47097844112),
 ('1997', 'KS', 88037.42603550295),
 ('1997', 'IN', 87203.89888603256),
 ('1997', 'MS', 86224.88262910797),
 ('1997', 'KY', 82019.23515981736),
 ('1997', 'IA', 76168.13725490196),
 ('1997', 'AR', 72332.22222222222),
 ('1997', 'WV', 69983.47222222222),
 ('1997', 'LA', 69803.64583333333),
 ('1997', 'TN', 68213.77233877234),
 ('1997', 'SD', 59295.0),
 ('1997', 'OK', 56325.61728395062),
 ('1997', 'ND', None),
 ('2007', 'HI', 611893.9265536723),
 ('2007', 'DC', 599893.9814814815),
 ('2007', 'CA', 598141.0399449036),
 ('2007', 'NJ', 440055.9),
 ('2007', 'MA', 377822.6618705036),
 ('2007', 'MD', 369100.4672897196),
 ('2007', 'NV', 354913.2616487455),
 ('2007', 'CT', 341385.1092896175),
 ('2007', 'RI', 322582.22222222225),
 ('2007', 'NY', 318182.4438202247),
 ('2007', 'WA', 316000.9139009139),
 ('2007', 'CO', 313130.89743589744),
 ('2007', 'DE', 304398.14814814815),
 ('2007', 'FL', 299784.1198979592),
 ('2007', 'AZ', 295021.3864306785),
 ('2007', 'VA', 283551.93889541714),
 ('2007', 'AK', 275928.86904761905),
 ('2007', 'OR', 275055.32724505325),
 ('2007', 'NH', 254791.45408163266),
 ('2007', 'UT', 254423.0603448276),
 ('2007', 'NM', 232761.79245283018),
 ('2007', 'ME', 231709.79853479852),
 ('2007', 'IL', 230522.74114774115),
 ('2007', 'VT', 224758.48214285713),
 ('2007', 'MT', 215423.5),
 ('2007', 'ID', 210176.45259938837),
 ('2007', 'WY', 202277.08333333334),
 ('2007', 'MN', 199287.94871794872),
 ('2007', 'GA', 182825.09082652134),
 ('2007', 'SC', 180254.10628019323),
 ('2007', 'PA', 176372.29411764705),
 ('2007', 'NC', 170933.83785664578),
 ('2007', 'WI', 169244.15274463006),
 ('2007', 'TX', 152363.82180753752),
 ('2007', 'MO', 151943.80952380953),
 ('2007', 'AL', 148621.42857142858),
 ('2007', 'MI', 146659.44170771757),
 ('2007', 'KS', 144679.70588235295),
 ('2007', 'SD', 143045.61403508772),
 ('2007', 'NE', 137831.82730923695),
 ('2007', 'MS', 131843.6403508772),
 ('2007', 'OH', 131262.93823038397),
 ('2007', 'LA', 129153.11181434599),
 ('2007', 'IA', 128333.03167420815),
 ('2007', 'KY', 126206.01265822785),
 ('2007', 'ND', 124564.08045977012),
 ('2007', 'IN', 120574.49494949495),
 ('2007', 'AR', 120089.74926253688),
 ('2007', 'TN', 117068.66820631255),
 ('2007', 'WV', 112406.01265822785),
 ('2007', 'OK', 91773.38588588589),
 ('2017', 'DC', 778756.0185185185),
 ('2017', 'CA', 688609.972899729),
 ('2017', 'HI', 653451.747311828),
 ('2017', 'MA', 438244.63007159904),
 ('2017', 'CO', 394511.46232439333),
 ('2017', 'NJ', 375706.8363273453),
 ('2017', 'WA', 369567.14559386973),
 ('2017', 'NY', 359342.49152019736),
 ('2017', 'AK', 318021.4285714286),
 ('2017', 'MD', 314660.24844720494),
 ('2017', 'OR', 306799.0699404762),
 ('2017', 'NV', 301538.5313531353),
 ('2017', 'UT', 294948.7603305785),
 ('2017', 'RI', 294574.8611111111),
 ('2017', 'CT', 280047.6775956284),
 ('2017', 'FL', 272582.97693920333),
 ('2017', 'VA', 269285.31931464176),
 ('2017', 'AZ', 255581.97424892703),
 ('2017', 'NH', 252847.09595959596),
 ('2017', 'DE', 248462.39316239316),
 ('2017', 'ME', 240862.1052631579),
 ('2017', 'ID', 223306.9069069069),
 ('2017', 'WY', 222159.89583333334),
 ('2017', 'MT', 221810.41666666666),
 ('2017', 'VT', 219629.97311827957),
 ('2017', 'NM', 212525.41666666666),
 ('2017', 'MN', 207513.66185897434),
 ('2017', 'IL', 201485.960303561),
 ('2017', 'TX', 192054.76063829788),
 ('2017', 'GA', 184896.8),
 ('2017', 'SD', 184605.41666666666),
 ('2017', 'ND', 183148.9898989899),
 ('2017', 'WI', 176782.43348982785),
 ('2017', 'SC', 176363.72093023255),
 ('2017', 'PA', 174637.40952380953),
 ('2017', 'NC', 174062.83231083845),
 ('2017', 'NE', 166257.8651685393),
 ('2017', 'IA', 156758.25859491777),
 ('2017', 'MI', 155352.13284582572),
 ('2017', 'MO', 153369.1973415133),
 ('2017', 'KY', 143375.71574642128),
 ('2017', 'LA', 142874.70085470084),
 ('2017', 'AL', 139148.30316742082),
 ('2017', 'OH', 138364.51058201058),
 ('2017', 'TN', 138124.4266055046),
 ('2017', 'KS', 136450.99862258954),
 ('2017', 'AR', 128088.30532212886),
 ('2017', 'IN', 125044.20634920635),
 ('2017', 'WV', 118281.60569105692),
 ('2017', 'MS', 115630.6506849315),
 ('2017', 'OK', 112451.70289855072)]

### What is the percent change in average home values from 2007 to 2017 by state? How about from 1997 to 2017?

In [83]:
%%sql

-- ORDER BY PERCENT CHANGE 2007 TO 2017 --

WITH yearly_data AS (
    SELECT substr(date,1,4) AS year, state, AVG(value) as avg_value
    FROM home_value_data
    WHERE year IN ('1997', '2007', '2017')
    GROUP BY year, state
),
avg_values_pivot AS (
    SELECT
        state,
        MAX(CASE WHEN year = '1997' THEN avg_value END) AS avg_value_1997,
        MAX(CASE WHEN year = '2007' THEN avg_value END) AS avg_value_2007,
        MAX(CASE WHEN year = '2017' THEN avg_value END) AS avg_value_2017
    FROM yearly_data
    GROUP BY state
)
SELECT state,
       ((avg_value_2017 - avg_value_2007) / avg_value_2007) * 100 AS pct_change_2007_to_2017,
       ((avg_value_2017 - avg_value_1997) / avg_value_1997) * 100 AS pct_change_1997_to_2017
FROM avg_values_pivot
ORDER BY 2 DESC;

 * sqlite:///home_value_trends.db
Done.

[('ND', 47.03194470105745, None),
 ('DC', 29.81560785046124, 310.36955174651507),
 ('SD', 29.05353156887754, 211.33386738623267),
 ('TX', 26.05010714478995, 69.62710160938941),
 ('CO', 25.98931167600786, 155.9993437703752),
 ('OK', 22.53193212068796, 99.64575324874892),
 ('IA', 22.14957953527596, 105.80555629227926),
 ('NE', 20.62371109361137, 78.18890165959543),
 ('TN', 17.985818683855733, 102.48759432264298),
 ('WA', 16.95129011865839, 151.29238165489426),
 ('MA', 15.992150365454963, 160.32744484132223),
 ('UT', 15.928469664198335, 81.52474486009027),
 ('AK', 15.254858858768166, 136.585889672427),
 ('CA', 15.1250168293349, 231.89299744473374),
 ('KY', 13.604504830280822, 74.8074283636621),
 ('NY', 12.935989555485452, 184.40554030545212),
 ('OR', 11.540857257108026, 130.81207211615393),
 ('LA', 10.62428062908717, 104.68085749537441),
 ('WY', 9.829493372333742, 64.4903054893474),
 ('HI', 6.791670738132488, 201.99668739434503),
 ('AR', 6.660481938475665, 77.08332661011072),
 ('ID', 6.247347952220948, 117.06020805478849),
 ('MI', 5.927126843583719, 55.88721544162657),
 ('OH', 5.4101884716022495, 50.391194690130305),
 ('WV', 5.2271163204533355, 69.01362841139273),
 ('WI', 4.454086373413553, 58.83507342932993),
 ('MN', 4.127551712957535, 128.03097792464152),
 ('ME', 3.949900602492157, 148.46162956997523),
 ('IN', 3.7070123342284123, 43.392907824715),
 ('MT', 2.964818910966843, 41.063533905913296),
 ('NC', 1.830529574148337, 90.50364170529866),
 ('GA', 1.133164580481161, 87.06806229584039),
 ('MO', 0.9381019352949762, 57.971682817730986),
 ('NH', -0.7631174793695208, 130.4824745707789),
 ('PA', -0.9836491624247298, 94.95640142473245),
 ('SC', -2.158278349516947, 97.88917317260562),
 ('VT', -2.281786643014376, 121.17822066292001),
 ('VA', -5.031395530692301, 119.35821761154237),
 ('KS', -5.687533859416763, 54.992035509492055),
 ('AL', -6.373997003705901, 55.35548520858741),
 ('RI', -8.682239497940236, 133.0141427502612),
 ('NM', -8.694028161973568, 52.583408496462724),
 ('FL', -9.073577002015513, 152.36710911908946),
 ('MS', -12.297134410729138, 34.10357562597211),
 ('IL', -12.596059156510977, 63.38464985353337),
 ('AZ', -13.368323110032762, 108.32773348455467),
 ('NJ', -14.622929421615465, 113.98457216243239),
 ('MD', -14.749431026805684, 117.15066550271244),
 ('NV', -15.038809777819658, 91.94565309782038),
 ('CT', -17.967225290413253, 75.9270082138502),
 ('DE', -18.375852588476164, 95.73677742690717)]

In [82]:
%%sql

-- ORDER BY PERCENT CHANGE 1997 TO 2017 --

WITH yearly_data AS (
    SELECT substr(date,1,4) AS year, state, AVG(value) as avg_value
    FROM home_value_data
    WHERE year IN ('1997', '2007', '2017')
    GROUP BY year, state
),
avg_values_pivot AS (
    SELECT
        state,
        MAX(CASE WHEN year = '1997' THEN avg_value END) AS avg_value_1997,
        MAX(CASE WHEN year = '2007' THEN avg_value END) AS avg_value_2007,
        MAX(CASE WHEN year = '2017' THEN avg_value END) AS avg_value_2017
    FROM yearly_data
    GROUP BY state
)
SELECT state,
       ((avg_value_2017 - avg_value_2007) / avg_value_2007) * 100 AS pct_change_2007_to_2017,
       ((avg_value_2017 - avg_value_1997) / avg_value_1997) * 100 AS pct_change_1997_to_2017
FROM avg_values_pivot
ORDER BY 3 DESC;

 * sqlite:///home_value_trends.db
Done.

[('DC', 29.81560785046124, 310.36955174651507),
 ('CA', 15.1250168293349, 231.89299744473374),
 ('SD', 29.05353156887754, 211.33386738623267),
 ('HI', 6.791670738132488, 201.99668739434503),
 ('NY', 12.935989555485452, 184.40554030545212),
 ('MA', 15.992150365454963, 160.32744484132223),
 ('CO', 25.98931167600786, 155.9993437703752),
 ('FL', -9.073577002015513, 152.36710911908946),
 ('WA', 16.95129011865839, 151.29238165489426),
 ('ME', 3.949900602492157, 148.46162956997523),
 ('AK', 15.254858858768166, 136.585889672427),
 ('RI', -8.682239497940236, 133.0141427502612),
 ('OR', 11.540857257108026, 130.81207211615393),
 ('NH', -0.7631174793695208, 130.4824745707789),
 ('MN', 4.127551712957535, 128.03097792464152),
 ('VT', -2.281786643014376, 121.17822066292001),
 ('VA', -5.031395530692301, 119.35821761154237),
 ('MD', -14.749431026805684, 117.15066550271244),
 ('ID', 6.247347952220948, 117.06020805478849),
 ('NJ', -14.622929421615465, 113.98457216243239),
 ('AZ', -13.368323110032762, 108.32773348455467),
 ('IA', 22.14957953527596, 105.80555629227926),
 ('LA', 10.62428062908717, 104.68085749537441),
 ('TN', 17.985818683855733, 102.48759432264298),
 ('OK', 22.53193212068796, 99.64575324874892),
 ('SC', -2.158278349516947, 97.88917317260562),
 ('DE', -18.375852588476164, 95.73677742690717),
 ('PA', -0.9836491624247298, 94.95640142473245),
 ('NV', -15.038809777819658, 91.94565309782038),
 ('NC', 1.830529574148337, 90.50364170529866),
 ('GA', 1.133164580481161, 87.06806229584039),
 ('UT', 15.928469664198335, 81.52474486009027),
 ('NE', 20.62371109361137, 78.18890165959543),
 ('AR', 6.660481938475665, 77.08332661011072),
 ('CT', -17.967225290413253, 75.9270082138502),
 ('KY', 13.604504830280822, 74.8074283636621),
 ('TX', 26.05010714478995, 69.62710160938941),
 ('WV', 5.2271163204533355, 69.01362841139273),
 ('WY', 9.829493372333742, 64.4903054893474),
 ('IL', -12.596059156510977, 63.38464985353337),
 ('WI', 4.454086373413553, 58.83507342932993),
 ('MO', 0.9381019352949762, 57.971682817730986),
 ('MI', 5.927126843583719, 55.88721544162657),
 ('AL', -6.373997003705901, 55.35548520858741),
 ('KS', -5.687533859416763, 54.992035509492055),
 ('NM', -8.694028161973568, 52.583408496462724),
 ('OH', 5.4101884716022495, 50.391194690130305),
 ('IN', 3.7070123342284123, 43.392907824715),
 ('MT', 2.964818910966843, 41.063533905913296),
 ('MS', -12.297134410729138, 34.10357562597211),
 ('ND', 47.03194470105745, None)]